@font-face {
  font-family: "iconfont"; /* Project id 2536362 */
  src: url('../fonts/iconfont.woff2?t=1623826047795') format('woff2'),
       url('../fonts/iconfont.woff?t=1623826047795') format('woff'),
       url('../fonts/iconfont.ttf?t=1623826047795') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mima:before {
  content: "\e60c";
}

.icon-zan1:before {
  content: "\e630";
}

.icon-gengduo:before {
  content: "\e659";
}

.icon-youjian:before {
  content: "\e672";
}

.icon-light:before {
  content: "\e63f";
}

.icon-jingwuicon_svg-:before {
  content: "\e660";
}

.icon-stop:before {
  content: "\e827";
}

.icon-naozhong:before {
  content: "\e601";
}

.icon-guanyu:before {
  content: "\e610";
}

.icon-diantaizhibo:before {
  content: "\e65b";
}

.icon-paihangbang:before {
  content: "\e6f1";
}

.icon-rili:before {
  content: "\e65f";
}

.icon-bofanggedan:before {
  content: "\e6be";
}

.icon-maikefeng:before {
  content: "\e698";
}

.icon-Kge:before {
  content: "\e626";
}

.icon-ego-menu:before {
  content: "\e606";
}

.icon-sousuo1:before {
  content: "\e634";
}

.icon-rank:before {
  content: "\e6f6";
}

.icon-yinle:before {
  content: "\e6e3";
}

.icon-zanting:before {
  content: "\e638";
}

.icon-lajixiang:before {
  content: "\e645";
}

.icon-xihuan:before {
  content: "\e62c";
}

.icon-laba:before {
  content: "\e62d";
}

.icon-zuobian:before {
  content: "\e799";
}

.icon-youbian:before {
  content: "\e79a";
}

.icon-bofang:before {
  content: "\e61a";
}

.icon-xiazai:before {
  content: "\e60e";
}

.icon-tianjia:before {
  content: "\e624";
}

.icon-shangyishou:before {
  content: "\e603";
}

.icon-xiayishou:before {
  content: "\e602";
}

.icon-yonghu:before {
  content: "\e604";
}

.icon-lianjie:before {
  content: "\e620";
}

.icon-pinglun:before {
  content: "\e647";
}

.icon-hot:before {
  content: "\e847";
}

.icon-V:before {
  content: "\e707";
}

.icon-icon_play:before {
  content: "\e60f";
}

.icon-gedan:before {
  content: "\e600";
}

.icon-logo-cat:before {
  content: "\e605";
}

